#header,
#header .jet-logo {
  transition: all 0.3s ease-in-out;
}
#header.jet-sticky-section--stuck .jet-logo {
  transform: scale(0.625);
}
#header > .e-con-inner {
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}
#header.jet-sticky-section--stuck > .e-con-inner {
  padding: 0;
  transition: all 0.3s ease-in-out;
}

/* Section - hero */
.hero-section {
  position: relative;
  overflow: hidden;
}
.hero-section img {
  max-height: 700px;
}
.hero-section .slick-arrow {
  cursor: pointer;
  transition: 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  color: #202031;
  background-color: #faefed;
  border-color: #202031;
  height: 100px;
  width: 84px;
  border-radius: 50%;
  transform: translateY(-50%);
}
.hero-section .prev-arrow {
  left: -10%;
}
.hero-section .next-arrow {
  right: -10%;
}
.hero-section:hover .prev-arrow {
  left: -3%;
}
.hero-section:hover .next-arrow {
  right: -3%;
}
.hero-section svg {
  width: 30px;
  height: 100%;
}
.hero-section .prev-arrow svg {
  margin-right: -75px;
}
.hero-section .next-arrow svg {
  margin-left: -75px;
}

.hero-section path {
  fill: black;
}

/* Section - about */
.about-section .e-con:first-child {
  margin-left: auto;
}
.about-section .e-grid {
  display: flex;
}
.about-section .e-grid .e-con-inner {
  padding: 30px 80px 60px;
  background: white;
  margin: 0 0 0 auto;
}
.about-section .elementor-widget-image {
  margin-top: -30px;
}
.about-section .elementor-widget-image img {
  transform: translateX(-90px);
}

/* Section - testimonials */
.testimonials-section .jet-testimonials__comment,
.testimonials-section .jet-testimonials__name {
  max-width: 996px;
  background: #ffffff;
}

.testimonials-section .jet-testimonials__comment {
  order: 1 !important;
  padding: 4.4em 7em 0 !important;
}

.testimonials-section .jet-testimonials__name {
  order: 2 !important;
}

.testimonials-section .jet-testimonials__figure {
  order: 3 !important;
  width: 80px;
  height: 80px;
  margin-top: -45px !important;
}
.testimonials-section .jet-testimonials__figure img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

/* Seciton - social */
.social-section .e-grid a:hover {
  transition: 0.4s ease-in-out;
  color: #911439;
}

/* Footer */
footer .custom-icon-list .elementor-inline-items {
  justify-content: space-between !important;
}
footer .custom-icon-list ul li {
  width: 30%;
}
footer .custom-icon-list ul li svg {
  stroke: #dfb6b0;
  width: 20px !important;
  height: 20px !important;
}
footer .copyright a {
  font-size: 14px;
}
/* Custom - heading */
.item_title_style .elementor-heading-title::before {
  background: #202031;
  width: 4.2857rem;
  height: 1px;
  content: "";
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  margin-bottom: 0.25em;
  margin-right: 2.8571rem;
  margin-left: 2.8571rem;
}
.item_title_style .elementor-heading-title::after {
  background: #202031;
  width: 4.2857rem;
  height: 1px;
  content: "";
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  margin-bottom: 0.25em;
  margin-right: 2.8571rem;
  margin-left: 2.8571rem;
}

/* Custom - card booking */
.card-customize .jet-carousel__item {
  margin: 33px 0 33px 33px;
  background: white;
  padding: 0;
}
.card-customize .jet-carousel__item img {
  transform: translate(-33px, -33px);
}
.card-customize .jet-carousel__item .jet-carousel__item-link {
  display: block;
  margin-bottom: -33px;
}
.card-customize .jet-carousel__item .jet-carousel__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.card-customize .jet-carousel__item-text a,
.card-customize .jet-carousel__content p {
  font-size: 13px;
  color: #dfb6b0;
}
.card-customize .jet-carousel__item .jet-carousel__content a strong {
  font-weight: normal;
}
.card-customize .slick-track {
  gap: 33px;
}
/* Custom - carousel arrows */
.custom-carousel-arrow .slick-arrow {
  color: #202031;
  background-color: #faefed;
  border-color: #202031;
  height: 100px;
  width: 84px;
  border-radius: 50%;
  transform: translateY(-50%);
}

.custom-carousel-arrow svg {
  width: 30px;
  height: 100%;
}
.custom-carousel-arrow .prev-arrow svg {
  margin-right: -75px;
}
.custom-carousel-arrow .next-arrow svg {
  margin-left: -75px;
}
.custom-carousel-arrow path {
  fill: black;
}
.custom-carousel-arrow .prev-arrow {
  left: -10% !important;
}
.custom-carousel-arrow .next-arrow {
  right: -10% !important;
}
.custom-carousel-arrow:hover .prev-arrow {
  left: -6% !important;
}
.custom-carousel-arrow:hover .next-arrow {
  right: -6% !important;
}
/* Custom - container */
.small-container {
  max-width: 987px !important;
  margin: 0 auto;
}
.normal-container {
  max-width: 1240px !important;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1280px) {
  .hero-section .prev-arrow {
    left: -15%;
  }
  .hero-section .next-arrow {
    right: -15%;
  }
  .hero-section:hover .prev-arrow {
    left: -8%;
  }
  .hero-section:hover .next-arrow {
    right: -8%;
  }
  .hero-section svg {
    width: 24px;
  }
  .hero-section img {
    aspect-ratio: 1 / 1;
    border-radius: 4px;
  }
  /* About us - Section */
  .about-section .elementor-widget-image img {
    transform: translateX(0px);
  }

  /* Testimonial - Section */
  .testimonials-section .jet-testimonials__instance {
    max-width: 80%;
    margin: 0 auto;
  }
  .testimonials-section .jet-testimonials__comment {
    padding: 50px 50px 0 !important;
  }
  .testimonials-section:hover .prev-arrow {
    left: 0% !important;
  }
  .testimonials-section:hover .next-arrow {
    right: 0% !important;
  }
  .testimonial-carousel.custom-carousel-arrow:hover .prev-arrow {
    left: 10% !important;
  }
  .testimonial-carousel.custom-carousel-arrow:hover .next-arrow {
    right: 10% !important;
  }
  /* Custom - card booking */
  .card-customize .jet-carousel__item {
    margin: 0;
  }
  .card-customize .jet-carousel__item img {
    transform: translate(0, -33px);
  }
  .card-customize .jet-carousel__item {
    background: transparent;
  }
}
@media (max-width: 575px) {
  .hero-section .prev-arrow {
    left: -15%;
  }
  .hero-section .next-arrow {
    right: -15%;
  }
  .hero-section:hover .prev-arrow {
    left: -15%;
  }
  .hero-section:hover .next-arrow {
    right: -15%;
  }

  /* Custom */
  .hero-section svg {
    width: 20px;
  }

  .about-section .e-grid .e-con-inner {
    padding: 30px 15px 30px;
  }
  .item_title_style .elementor-heading-title::before {
    width: 2.2857rem;
    margin-right: 0.8571rem;
    margin-left: 0.8571rem;
  }
  .item_title_style .elementor-heading-title::after {
    width: 2.2857rem;
    margin-right: 0.8571rem;
    margin-left: 0.8571rem;
  }
  /* Card Customize */
  .card-customize .jet-carousel__item .jet-carousel__content {
    background: white;
    flex-direction: column;
    gap: 10px;
  }
  .card-customize .jet-carousel__item-button {
    width: 100%;
  }

  /* Footer */
  footer .custom-icon-list ul li {
    width: 100%;
  }

  /* Testimonials */
  .testimonial-carousel .prev-arrow {
    left: -20% !important;
  }
  .testimonial-carousel .next-arrow {
    right: -20% !important;
  }
  .testimonial-carousel.custom-carousel-arrow:hover .prev-arrow {
    left: -20% !important;
  }
  .testimonial-carousel.custom-carousel-arrow:hover .next-arrow {
    right: -20% !important;
  }
  .testimonials-section .jet-testimonials__comment {
    padding: 20px 20px 0 !important;
  }
}
